@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Questrial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    max-height: 100vh;
    background-color: #666;
}

h1{
    color: #fff;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.controls {
    background-color: #333;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.controls .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.controls .fa-play {
    color: #28a745;
}
  
.controls .fa-stop {
    color: #dc3545;
}
  
.controls .fa-pause {
    color: #fff;
}

.controls .timestamp {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}
@media (max-width: 800px) {
    .screen {
        width: 80%;
    }

    .controls {
        width: 80%;
    }
}
